/**/*-private
/**/log.txt
/**/*history

/build/
/tmp/
/nbproject/
/dist/
/test/
/lib/Funz/
Funz-Cast3m/
.vscode/
cast3m.code-workspace

/*.png
/*.html
/*.log
/*.zip
/*.out
/*.csv
/*.txt
/*.Rout
/*.Rdata
/*.Rmd
/*.exec
/.classpath
/.project
